{% extends "portal/base.html" %}
{% load static %}
{% block content %}

<table class="min-w-full border border-gray-300" id="studentTable">
    <thead class="bg-gray-200">
        <tr>
            <th class="py-1 px-2 border">Name</th>
            <th class="py-1 px-2 border">Subject</th>
            <th class="py-1 px-2 border">Marks</th>
            <th class="py-1 px-2 border">Actions</th>
        </tr>
    </thead>
    

    <tbody>
        {% for s in students %}
        <tr data-id="{{ s.id }}">
            <td class="py-1 px-2 border editable" data-field="name">{{ s.name }}</td>
            <td class="py-1 px-2 border editable" data-field="subject">{{ s.subject }}</td>
            <td class="py-1 px-2 border editable" data-field="marks">{{ s.marks }}</td>
            <td class="py-1 px-2 border">
                <button class="deleteBtn bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
<br>
<button id="addBtn" class="bg-black hover:bg-Black-700 text-white px-3 py-1 square mb-2">
    Add
</button>
<!-- Modal -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80">
        <h3 class="text-lg font-semibold mb-3">Add Student</h3>
        <form id="addForm">
            {% csrf_token %}
            <div class="mb-2">
                <label class="block mb-1">Name</label>
                <input name="name" class="w-full border px-2 py-1" required>
            </div>
            <div class="mb-2">
                <label class="block mb-1">Subject</label>
                <input name="subject" class="w-full border px-2 py-1" required>
            </div>
            <div class="mb-4">
                <label class="block mb-1">Marks</label>
                <input name="marks" type="number" class="w-full border px-2 py-1" required>
            </div>
            <div class="flex justify-end">
                <button type="button" id="cancelBtn" class="mr-2 px-3 py-1 border rounded">Cancel</button>
                <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'portal/portal.js' %}"></script>
{% endblock %}
